*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial;
    justify-content: center;
}

h1{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.display{
    width: 30%; 
    margin: 20px auto;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branco{
    color: white;
}

.amarelo{
    color: #febe01;
}

button{
    background-color: #febe01;
    color: #332200;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

button:hover{
    background-color: #332200;
    color: #febe01;
    cursor: pointer;
}

p{
    color: #b2b2b2;
}

.model{
    background-color: #111;
    border-radius: 4px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 15px 0;
}

.logo{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.model div{
    margin: 30px 15px;
}

.model div p{
    margin-top: 15px;
}

.model div button{
    margin-top: 18px;
}

.model div{
    margin-top: 15px;
}

.model div img{
    width: 300px;
    border: 2px solid white;
    border-radius: 4%;
    margin-bottom: 5px;
}


